<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin Page
        </title>
    </head>
    <body>
        <h1>Personal Blog Admin Page<button onclick="window.location.href='/admin/new'">+ Add</button></h1>
        <h2>Articles:</h2>
        <ul>
            {% for a in articles %}
                <li>{{a.title}}<button onclick="window.location.href='/admin/edit/{{a.id}}'">Edit</button>
                <button onclick="window.location.href='/admin/delete/{{a.id}}'">Delete</button></li>
            {% endfor %}
        </ul>
    </body>
    <body>
        <a href="/logout">Log Out</a>
    </body>
</html>