<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <h1>Personal Blog</h1>
        <h2>Articles:</h2>
        <ul>
            {% for a in articles %}
                <li>
                    <a href="/article/{{a.id}}">{{a.title}}</a>      {{a.publication_date}}
                </li>
            {% else %}
                <p>No articles available.</p>
            {% endfor %}
        </ul>
    </body>
    <body>
        <h2><a href="/login">Log in</a></h2>
    </body>
</html>